html * {
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: #ffffff;
}

.suite-summary {
    height: 134px;
    width: 830px;
    border: 1px solid black;
    margin: auto;
}

.suite-name {
    padding-top: 2px;
    height: 48px;
    font-size: 2em;
    border: 1px solid black;
    text-align: center;
}

.summary-item {
    height: 80px;
    width: 150px;
    border: 1px solid black;
    float: left;
}

.wide {
    width: 220px;
}

.summary-item-label {
    padding-top: 5px;
    height: 25px;
    text-align: center;
    background-color: #d3d3d3;
}

.summary-item-value {
    padding-top: 2px;
    height: 48px;
    text-align: center;
    font-size: 2em;
}

.results-section {
    width: 1202px;
    margin: auto;
    border: 1px solid black;
}

.section-name {
    height: 30px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
}

.test-classes {
    border: 1px solid black;
    padding-left: 15px;
}

.test-class:not(:first-child) {
    border-top: 1px solid gray;
}

.class-name {
    padding-top: 5px;
    min-height: 25px;
}

.test-methods {
    border-top: 1px solid black;
}

.test-method:nth-child(odd) {
    background-color: #dcdcdc;
}

.test-method:nth-child(even) {
    background-color: #ededed;
}

.method-name {
    padding-left: 15px;
    background-color: inherit;
    padding-top: 5px;
    min-height: 25px;
}

.method-details {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 10px;
    width: 1155px;
    margin-left: 20px;
    display: none;
}

.method-detail {
    margin-right: 50px;
    display: inline-block;
}

.test-method-logs {
    margin-top: 10px;
}

.log-entry {
    width: 1175px;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: .75em;
    float: left;
    padding-top: 3px;
    margin-right: 5px;
}

.active:after {
    padding-top: 3px;
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.hide {
    display: none;
}

.txt-passed {
    color: #32cd32;
}

.txt-failed {
    color: #ff3333;
}

.txt-stopped {
    color: #ffa500;
}

.txt-skipped {
    color: #a9a9a9;
}

.bg-passed {
    background-color: #32cd32;
}

.bg-failed {
    background-color: #ff3333;
}

.bg-stopped {
    background-color: #ffa500;
}

.bg-skipped {
    background-color: #a9a9a9;
}
