html * {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.test-summary {
    /*background-color: lightsalmon;*/
    height: 134px;
    width: 832px;
    border: 1px solid black;
    margin: auto;
}

.test-suite {
    padding-top: 2px;
    height: 48px;
    font-size: 2em;
    border: 1px solid black;
    text-align: center;
}

.summary-item {
    height: 80px;
    width: 120px;
    border: 1px solid black;
    /*background-color: powderblue;*/
    float: left
}

.wide {
    width: 220px;
}

.summary-item-label {
    padding-top: 5px;
    height: 25px;
    text-align: center;
    background-color: #d3d3d3;
}

.summary-item-value {
    padding-top: 2px;
    height: 48px;
    text-align: center;
    font-size: 2em;
}

.passed {
    color: #32cd32;
}

.failed {
    color: #ff3333;
}

.stopped {
    color: #ffa500;
}

.skipped {
    color: #a9a9a9;
}

.test-results-section {
    width: 1202px;
    margin: auto;
    border: 1px solid black;
}

.test-results-section-label {
    height: 30px;
    font-size: 1.5em;
    text-align: center;
    background-color: #ff3333;
    border: 1px solid black;
}

.test-class-results {
    border: 1px solid black;
}

.test-results-row {
    padding-top: 5px;
    height: 25px;
}

.test-class-name {
    padding-left: 10px;
}

.test-method-list {
    border-top: 1px solid black;
}

.test-method-name {
    padding-left: 20px;
}

.light {
    background-color: #d3d3d3;
}

.dark {
    background-color: #c0c0c0;
}

.hide {
    display: none;
}
