<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.qadenz.automation.logs.ConsoleLogLayout"/>
        </encoder>
    </appender>
    
    <appender name="TestNG" class="com.github.sbabcoc.logback.testng.ReporterAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.qadenz.automation.logs.TestNgLogLayout"/>
        </encoder>
    </appender>
    
    <logger name="SUITE" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="REPORTER" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="io.qadenz.automation.conditions.Conditions" level="OFF"/>
    
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TestNG"/>
    </root>

</configuration>
