<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byMillis" datePattern="MMdd'-'HHmmss.SSS"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.slifer.automation.logs.Layout"/>
        </encoder>
    </appender>
    
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
